* {
   margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {  
    scroll-behavior: smooth;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-color: #191919;
    background-size: 400px;
}

nav {
    display: flex;
    text-align: center;
    justify-content:space-between; 
    padding-left: 30px;
    padding-top: 20px; 
}


ul {
    text-align: right;
    justify-content: center;
    font-size: 10px;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-left: 700px;
}

.portfolio {
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}

.portfolio span {
    color: #2541be;
    padding-right: 120px;
}

li {
    color: #ffff;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 35px;
    cursor: pointer;
}

li:hover {
    color: #2541b3;
    transition: 0.5s;
}

.link-menu {
    text-decoration: none;
    color: white;
}

.meu-nome {
    position: absolute;
    top: 45%;
    left: 7%;
}

h1 {
    color: white;
    font-size: 60px;
}

h1 span {
    color: #2541be;
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #000000;
      
}

section img{
    height: 300px;
    border-radius: 60%;
    border: 2px solid #2541be;
    margin-right: 30px;
}

section div h2 {
    color: white;
    font-size: 75px;
}

section div p {
    color: rgb(109, 123, 145);
    font-size: 24px;
    margin-top: 15px;
}

section div button {
    color: white;
    background: #2541be;
    height: 45px;
    width: 130px;
    font-size: 13px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top:3%;
    
}

section div button:hover {
    background-color: #000000;
    border: 3px solid #2541be;
    transition: 0.5s;
}

.certificados {
     background-color: #191919;
     padding-top: 50px;
     padding-bottom: 100px;
}

.certificados h2 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.card {
    background-color: #000000;
    height: 340px;
    width: 290px;
    border-radius: 20px;
    padding: 30px 40px;
    text-align: center;
    
}

.card img{
    height: 90px;
}

.card h5{
    color: white;
    font-size: 25px;
}

.card p {
    color: rgb(109, 123, 145);
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #2541b3;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;

}

.card a:hover {
    background-color: transparent;
    border: 2px solid #2541b3;
}

.card-certificados {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

footer {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: white;
    font-size: 30px;
}

footer p {
    color: white;
    font-size: 19px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.social{
    display: flex;
    gap: 20px;
}

.social img {
    height: 30px;
    border-radius: 10px;
}

.social a {
    display: flex;
    border-radius: 80%;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}

.social a:hover {
    transform:scale(1.3);
    transition: 0.5s;
}

#link-topo {
    text-decoration: none;
    color: white;
    background-color: #2541b3;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #000000;
}
